<div id="footer">
  <div class="inner">
    <article class="submenu">
      <ul>
        <li><%= link_to "Top",    root_path %></li>
        <li><%= link_to "Profile",    profile_path %></li>
        <li><%= link_to "Gallary",    gallary_path %></li>
        <li><a href="http://blog.livedoor.jp/terudou/" target="_blank">Blog</a></li>
        <li><%= link_to "Contact",    contact_path %></li>
      </ul>
    </article>
    <p class="copyright">&copy; 2015 TERUDOU All Rights Reserved.</p>
    <p class="footer_logo"><%= link_to "照道 TERUDOU",    root_path %></p>
  </div>
</div>